.container{
    width: 100%;
}

.üst{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.alt{
    width:90%;
    margin: auto;
  
}
.inputdiv{
    width: 100%;
    display: flex;
    justify-content: center;
}
.butonlar{
    width: 100%;
    display: flex;
    justify-content: center;
}
.bir{
    margin-bottom: 1px;
    background-color:rgb(196, 196, 196);
}
.iki{
    width: 100%;
    display: flex;
}
.baş{
width: 70%;
background-color: rgb(96, 230, 185);
border-right: solid white 2px;
text-align: center;

}
.baş ol li{
    list-style-type: none;
}
.orta{
width:60%;
background-color: rgb(48, 204, 152);
border-right: solid white 2px;
text-align: center;
}
.orta ol li{
    list-style-type: none;
}
.son{
width:70%;
background-color: rgb(5, 179, 121);
text-align: center;
border-right: solid white 2px;

}
.son ol li{
    list-style-type: none;
}

.enalt{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}